<% if @item[:feedback].nil? %>
  <div class="comments">
    <div class="comments-filter">
      <h2 id="help-and-feedback">
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        Ayuda y comentarios
        <a class="anchor" href="#help-and-feedback"></a>
      </h2>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#docs-feedback" aria-controls="docs-feedback" role="tab" data-toggle="tab">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
             <strong>DOCS</strong> FEEDBACK</a>
          </li>
          <li role="presentation"><a href="#product-feedback" aria-controls="product-feedback" role="tab" data-toggle="tab">
            <i class="fa fa-cloud" aria-hidden="true"></i>
            TODO SOBRE <strong>OXE360 EE</strong></a>
          </li>
          <li role="presentation"><a href="#get-help" aria-controls="get-help" role="tab" data-toggle="tab">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            CONSIGUE <strong>AYUDA</strong></a>

          </li>
          <li role="presentation"><a href="#get-more-features" aria-controls="get-more-features" role="tab" data-toggle="tab">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            OBTENER M&Aacute;S <strong>CARACTERÍSTICAS</strong></a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="product-feedback"><!-- product-feedback tab -->
            <div class="row" id="issue-row"><!-- issue-row -->
              <div class="col-md-8 col-sm-12">
                <p>Si hay algo que <strong>no te gusta</strong> de <strong>esta característica</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="http://osse.com.pe" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  CREAR UN ISSUE
                </a>
              </div>
            </div> <!-- issue-row -->
            <div class="row" id="feature-proposal-row"><!-- feature-proposal-row -->
              <div class="col-md-8 col-sm-12">
                <p>Proponer <strong>funcionalidades que OSSE aún no ofrece</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="http://osse.com.pe/" target="_blank">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  PRESENTAR PROPUESTA DE CARACTERÍSTICAS
                </a>
              </div>
            </div><!-- feature-proposal-row -->
            <div class="row" id="feature-proposal-row"><!-- beta-testing-row -->
              <div class="col-md-8 col-sm-12">
                <p>Para <strong>ayudar aún más a OSSE a configurar nuevas funciones</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="http://about.osse.com.pe" target="_blank">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  ÚNASE A LAS PRUEBAS BETA
                </a>
              </div>
            </div><!-- beta-testing-row -->
          </div><!-- product-feedback tab -->

          <div role="tabpanel" class="tab-pane" id="get-help"><!-- get-help tab -->
            <div class="row" id="search-row"><!-- search-row -->
              <div class="col-md-8 col-sm-12">
                <p>Si <strong>no encontraste</strong> lo que buscabas
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="/search/" target="_blank">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  BUSCAR EN LA DOCUMENTACI&Oacute;N
                </a>
              </div>
            </div><!-- search-row -->

            <div class="row" id="forum-row"><!-- forum-row -->
              <div class="col-md-8 col-sm-12">

                <p>Si desea ayuda con <strong>algo muy específico para su caso de uso</strong>,
                  y puede usar algún apoyo de OSSE
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default" href="http://forum.osse.com.pe/" target="_blank">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    POSTEAR EN EL FORO DE OSSE
                  </a>
                </p>
              </div>
            </div><!-- forum-row -->

            <div class="row" id="support-row"><!-- support-row -->
              <div class="col-md-8 col-sm-12">
                <p>Si <strong>tiene problemas</strong> para configurar o usar esta función (según su suscripción a OSSE)
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default" href="http://osse.com.pe/" target="_blank">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    SOLICITAR SOPORTE
                  </a>
                </p>
              </div>
            </div><!-- support-row -->
          </div><!-- get-help tab -->

          <div role="tabpanel" class="tab-pane" id="get-more-features"><!-- get-more-features tab -->
            <div class="row" id="sales-row">
              <div class="col-md-8 col-sm-12">
                <p>Para ver <strong>todos los niveles y características de OSSE</strong> o para actualizar
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="http://osse.com.pe" target="_blank">
                  <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                  VER PÁGINA DE PRECIOS
                </a>
              </div>
            </div>

            <div class="row" id="sales-row">
              <div class="col-md-8 col-sm-12">
                <p>Si quieres probar todas las funciones disponibles en <strong>OSSE.com.pe</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="http://osse.com.pe" target="_blank">
                  <i class="fa fa-cloud" aria-hidden="true"></i>
                  OXE360
                </a>
              </div>
            </div>

            <div class="row" id="sales-row">
              <div class="col-md-8 col-sm-12">
                <p>Si quieres probar todas las funciones disponibles en <strong>OSSE autogestionadas</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="http://about.osse.com.pe/free-trial/" target="_blank">
                  <i class="fa fa-server" aria-hidden="true"></i>
                  OXE360 EE
                </a>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane active" id="docs-feedback"><!-- docs-feedback tab -->
            <div class="row" id="edit-page-row"><!-- edit-page-row -->
              <div class="col-md-8 col-sm-12">
                <p>Si <strong>detecta un error o una necesidad de mejora</strong> y <strong>desea corregirlo usted mismo</strong> en una solicitud de combinación
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p>
                  <a role="button" class="comments-holder btn btn-default" href="http//osse.com.pe" target="_blank">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    EDITAR ESTA P&Aacute;GINA
                  </a>
                </p>
              </div>
            </div><!-- edit-page-row -->

            <div class="row" id="doc-issue-row"><!-- doc-issue-row -->
              <div class="col-md-8 col-sm-12">
                <p>Si desea <strong>sugerir una mejora a este documento</strong>
                  <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <a role="button" class="comments-holder btn btn-default" href="http://osse.com.pe" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  CREAR UN ISSUE
                </a>
              </div>
            </div><!-- doc-issue-row -->
            <%# Show comments only in production and on master branch (hide archives) %>
            <% if @item[:comments].nil? && ENV['NANOC_ENV'] == 'production' && ENV['CI_COMMIT_REF_NAME'] == 'master' %>
              <% unless @item.identifier.to_s.split('/')[1] == 'ce' %>
                <div class="row" id="disqus-row"><!-- disqus-row-->
                  <div class="col-md-8 col-sm-12">
                    <p>If you want to give <strong>quick and simple feedback</strong> on this doc
                      <i class="fa fa-arrow-right black-icon" aria-hidden="true"></i>
                    </p>
                  </div>
                  <div id="disqus_thread" class="disqus-comments-gitlab">
                    <div class="col-md-4 col-sm-12">
                      <a href="#" role="button" class="comments-holder btn btn-default" onclick="loadDisqus();return false;">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        VISUALIZAR Y POSTEAR COMENTARIOS
                      </a>
                    </div>
                  </div>
                </div><!-- disqus-row-->
              <% end %>
            <% end %>
          </div><!-- docs-feedback tab -->
        </div>
      </div>
    </div>
  </div>
<% end %>
