<footer class=footer>
  <%= render '/footer_links.*' %>
  <div class='animated text-center source-link'>
    <a href='https://osse.com.pe/osse-docs' target='_blank'>Creado</a> con Nanoc, hospedado en <a href='https://osse.com.pe/osse-pages/' target='_blank'>OSSE Pages</a>
    <a href='https://creativecommons.org/licenses/by-sa/4.0/' target='_blank' rel="license" alt="Creative Commons License"><img src='/assets/images/by-sa.svg'></a>
    <a href='/cookies-policy/' alt='Pol&iacute;itica de Cookies'>Pol&iacute;tica de Cookies</a>
    <% if ENV['NANOC_ENV'] == 'production' && ENV['CI_COMMIT_REF_NAME'] == 'master' %>
    <%# Show Edit button only in production and on master branch (hide archives) %>
    <div class="edit-on">
      <i class="fa fa-code-fork" aria-hidden="true"></i>
      <a href="http://osse.com.pe">Editar esta p&aacute;gina</a>
    </div>
    <% end %>
  </div>
</footer>
