    <img  width=65 height=60 viewBox="0 0 210 194" src="<%= @items['/assets/images/osse-logo.svg'].path %>" class="logo footer-logo" />

  <div class='animated container'>
    <ul class='text-center footer-social'>
      <li> <a href="http://twitter.com/osse" target="_blank"><i class='fa fa-twitter'></i> <span class=sr-only>Twitter</span></a></li>
      <li> <a href="http://www.facebook.com/osse" target="_blank"><i class='fa fa-facebook'></i> <span class=sr-only>Facebook</span> </a></li>
      <li> <a href="https://www.youtube.com/channel/UCav3S7GFg52k43K1iKez_dQ" target="_blank"><i class='fa fa-youtube'></i> <span class=sr-only>YouTube</span> </a></li>
      <li> <a href="http://www.linkedin.com/company/osse" target="_blank"><i class='fa fa-linkedin'></i> <span class=sr-only>LinkedIn</span> </a></li>
    </ul>
    <div class=row>
      <div class='col-sm-6 col-md-3 col-lg-2 col-lg-offset-2 footer-link-holder'>
        <h3 class=footer-link-title>Productos</h3>
        <ul class='animated footer-links'>
          <li><a href="http://osse.com.pe/" target="_blank">Caracteristicas</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Instalaci&oacute;n</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">OXE360 EE</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Precio</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Lanzamientos</a></li>
        </ul>
      </div>
      <div class='col-sm-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Servicios</h3>
        <ul class='animated footer-links'>
          <li><a href="http://osse.com.pe/" target="_blank">Socios</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Servicios</a></li>
        </ul>
      </div>
      <div class='col-sm-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Comunidad</h3>
        <ul class='animated footer-links'>
          <li><a href="http://osse.com.pe/" target="_blank">Recursos</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Eventos</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Equipo central</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Contribuyentes</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Encontrar un Soporte</a></li>
          <li><a href="/">Documentaci&oacute;n</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Solicitar Ayuda</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Contribuyendo</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Aplicaciones</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Sal&oacute;n de la Fama</a></li>
        </ul>
      </div>
      <div class='col-sm-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Compa&ntilde;ia</h3>
        <ul class='animated footer-links'>
          <li><a href="http://osse.com.pe/" target="_blank">C&oacute;digo Fuente</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Blog</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Clientes</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Prensa y Logos</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Tienda</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Acerca de Nosotros</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Grupo</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Direcci&oacute;n</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Manual</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Trabajos</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Terminos</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Pol&iacute;tica de Privacidad</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Contáctenos</a></li>
        </ul>
      </div>
    </div>
  </div>
