<div class="landing-header-top" id="landing-header-bar">
  <a class="header-link logo-container flex-container justify-center align-center" href="/">
    <img src="<%= @items['/assets/images/osse-logo.svg'].path %>" class="logo" />
    <p>OSSE <strong>Documentaci&oacute;n</strong></p>
  </a>
  <nav class="nav-container">
    <% if ENV['NANOC_ENV'] == 'production' %>
      <% @config[:products].each do |name, product| %>
        <% if product[:expose] == true %>
          <a class="header-link nav-item flex-container justify-center align-center" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
            <p><%= product[:short_name] %></p>
          </a>
        <% end %>
      <% end %>
    <% else %>
      <% @config[:products].each do |name, product| %>
        <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
          <a class="header-link nav-item flex-container justify-center align-center" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
            <p><%= product[:short_name] %></p>
          </a>
        <% end %>
      <% end %>
    <% end %>
  </nav>
</div>
